  body{
    background-color: #f0f0f0;
  }
  h1 {
    text-align: center;
  }
  
  #testContainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: snow;
    border-radius: 15px;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .answer {
    margin-bottom: 10px;
  }
  
  label {
    margin-left: 5px;
  }
  